/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Garamond', serif;
    background-color: #f8f8f8;
}

.link {
    color: #007bff; /* Couleur du lien */
    text-decoration: none; /* Supprime le soulignement par défaut du lien */
   
    transition: color 0.3s; /* Ajoute une transition fluide pour le changement de couleur */
}

.link:hover {
    color: #0056b3; /* Change la couleur lors du survol */
}

.unfav {
    margin-left: 7px;
    padding: 6px 14px; /* Ajoute du rembourrage autour du texte du bouton */
    background-color: #c13737; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte */
    border: none; /* Supprime la bordure */
    border-radius: 4px; /* Rend les coins arrondis */
    cursor: pointer; /* Change le curseur en pointeur au survol */
    transition: background-color 0.3s, padding 0.3s; /* Ajoute une transition fluide pour le changement de couleur de fond et de rembourrage */
    text-decoration: none;
}

.unfav:hover {
    background-color: #c13737; /* Change la couleur de fond lors du survol */
    padding: 7px 15px; /* Augmente légèrement le rembourrage lors du survol */
}


.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4e6bff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 36px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4e6bff;
    color: #fff;
    text-transform: uppercase;
}

td {
    background-color: #f2f2f2;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
   
}

.equipimg {
    width: 100px;
}

li {
    margin-bottom: 5px;
    color: #4e6bff;
    font-style: italic;
    font-size: 18px;
}

.logo{
    display: flex;
    justify-content: center;
}

.elmt img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
