<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/tableau.css">
    <title>Armors - Monster Hunter World</title>
  
</head>
<body>
    <div class = "header">
        <div class = "logo">
            <a href="/index.html">
            <img src="static/mhwlogo.png" alt="logo M">
        </a>
    </div>
</div>
<div class="filter-section">
    <form action ="/armors" method="GET">
    <label for="typeFilter">Filter by type:</label>
    <select name="typeFilter" >
        <option value="">All</option>
        <option value="head">Head</option>
        <option value="chest">Chest</option>
        <option value="gloves">Gloves</option>
        <option value="waist">Waist</option>
        <option value="legs">Legs</option>
    </select>
    
    <label for="rankFilter">Filter by rank:</label>
    <select name="rankFilter">
        <option value="">All</option>
        <option value="low">Low</option>
        <option value="high">High</option>
        <option value="master">Master</option>
    </select>
    
    <label for="rarityFilter">Filter by rarity:</label>
    <select name="rarityFilter" >
        <option value="">All</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        
    </select>
    <input type="text" name="q" placeholder="Rechercher une armure..." value="{{.Query}}">
    <button class = "search-btn" type="submit">Rechercher</button>
</form>
</div>

    <table class = "category" border="1"  id="armorTable">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Rarity</th>
            <th>Ranks</th>
            <th>Base defense</th>
            <th>Max defense</th>
            <th>Augmented defense</th>
            <th>Resistances</th>
            <th>Skills</th>
            <th>Image men / women</th>
            <th>Favoris</th>
        </tr>
        {{range .Armors}}
        <tr>
            <td><a class = "link" href="/armor-details?id={{.ID}}">{{.Name}}</a></td>
            <td>{{.Type}}</td>
            <td>{{.Rarete}}</td>
            <td>{{.Rang}}</td>
            <td>{{.Defense.Base}}</td>
            <td>{{.Defense.Max}}</td>
            <td>{{.Defense.Upgrade}}</td>
            <td>
                {{range $key, $value := .Resistances}}
                    {{$key}}: {{$value}}<br>
                {{end}}
            </td>
            <td>
                {{if not .Skills}}
                None
                {{else}}
                {{range $index, $element := .Skills}}
                    {{if $index}}, {{end}}{{.Name}}<br>Level : {{.Niveau}}<br>{{.Description}}
                {{end}}
                {{end}}
            </td>
            <td>
                <img src="{{.Assets.ImageH}}" alt="Male Armor Image">
                <img src="{{.Assets.ImageF}}" alt="Female Armor Image">
            </td>
            <td> <form action="/add-favorite" method="get">
                <input type="hidden" name="category" value="armors">
                <input type="hidden" name="id" value="{{ .ID }}">
                <input type="hidden" name="name" value="{{ .Name }}">
                <input type="hidden" name="type" value="{{ .Type }}">
                <input type="hidden" name="rang" value="{{ .Rang }}">
                <input type="hidden" name="rarity" value="{{ .Rarete }}">
                <input type="hidden" name="imageMale" value="{{ .Assets.ImageH }}">
                <input type="hidden" name="imageFemale" value="{{ .Assets.ImageF }}">
                <button class = "fav" type="submit">&#x2661;</button>
            </form></td>
        </tr>
    </div>
        {{end}}
    </table>
    <div class = "pagination">
    {{if .HasPreviousPage}}
    <a href="/armors?page={{.PreviousPage}}&rarityFilter={{.RarityFilter}}&rankFilter={{.RankFilter}}&typeFilter={{.TypeFilter}}&q={{.Query}}">Page précédente</a>
    {{end}}
    
    {{if .HasNextPage}}
    <a href="/armors?page={{.NextPage}}&rarityFilter={{.RarityFilter}}&rankFilter={{.RankFilter}}&typeFilter={{.TypeFilter}}&q={{.Query}}">Page suivante</a>
    {{end}}
    </div>
   
</body>
</html>
