<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Armors - Monster Hunter World</title>
  
</head>
<body>
    <div class = "mhwimg" style="text-align: center;">
        <a href="/index.html">
            <img src="static/mhwlogo.png" alt="logo M">
        </a>
    </div>
    <input type="text" id="searchInput" onkeyup="searchArmors()" placeholder="Rechercher par nom d'armure..." style="margin-bottom: 10px;">
  
    <label for="typeFilter">Filter by type:</label>
    <select id="typeFilter" onchange="filterArmors()">
        <option value="">All</option>
        <option value="head">Head</option>
        <option value="chest">Chest</option>
        <option value="gloves">Gloves</option>
        <option value="waist">Waist</option>
        <option value="legs">Legs</option>
    </select>
    
    <label for="rankFilter">Filter by rank:</label>
    <select id="rankFilter" onchange="filterArmors()">
        <option value="">All</option>
        <option value="low">Low</option>
        <option value="high">High</option>
        <option value="master">Master</option>
    </select>
    
    <label for="rarityFilter">Filter by rarity:</label>
    <select id="rarityFilter" onchange="filterArmors()">
        <option value="">All</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        
        <!-- Ajoutez d'autres options selon vos besoins -->
    </select>
    


    <table class = "category" border="1"  id="armorTable">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Rarity</th>
            <th>Ranks</th>
            <th>Base defense</th>
            <th>Max defense</th>
            <th>Augmented defense</th>
            <th>Resistances</th>
            <th>Skills</th>
            <th>Image men / women</th>
        </tr>
        {{range .Armors}}
        <tr>
            <td><a href="/armor-details?id={{.ID}}">{{.Name}}</a></td>
            <td>{{.Type}}</td>
            <td>{{.Rarete}}</td>
            <td>{{.Rang}}</td>
            <td>{{.Defense.Base}}</td>
            <td>{{.Defense.Max}}</td>
            <td>{{.Defense.Upgrade}}</td>
            <td>
                {{range $key, $value := .Resistances}}
                    {{$key}}: {{$value}}<br>
                {{end}}
            </td>
            <td>
                {{if not .Skills}}
                None
                {{else}}
                {{range $index, $element := .Skills}}
                    {{if $index}}, {{end}}{{.Name}}<br>Level : {{.Niveau}}<br>{{.Description}}
                {{end}}
                {{end}}
            </td>
            <td>
                <img src="{{.Assets.ImageH}}" alt="Male Armor Image">
                <img src="{{.Assets.ImageF}}" alt="Female Armor Image">
            </td>
        </tr>
        {{end}}
    </table>
    {{if .HasPreviousPage}}
    <a href="/armors?page={{.PreviousPage}}">Page précédente</a>
{{end}}

{{if .HasNextPage}}
    <a href="/armors?page={{.NextPage}}">Page suivante</a>
{{end}}
    <script>
        function searchArmors() {
            // Récupérer la valeur saisie dans le champ de recherche
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("armorTable");
            tr = table.getElementsByTagName("tr");

            // Parcourir toutes les lignes du tableau et les cacher si elles ne correspondent pas à la recherche
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // Recherche dans la première colonne (Nom)
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function filterArmors() {
            var typeFilter = document.getElementById("typeFilter").value;
            var rankFilter = document.getElementById("rankFilter").value;
            var rarityFilter = document.getElementById("rarityFilter").value;
        
            var table = document.getElementById("armorTable");
            var rows = table.getElementsByTagName("tr");
        
            for (var i = 1; i < rows.length; i++) { // Commence à l'index 1 pour éviter l'en-tête
                var type = rows[i].getElementsByTagName("td")[1].textContent;
                var rank = rows[i].getElementsByTagName("td")[3].textContent;
                var rarity = rows[i].getElementsByTagName("td")[2].textContent;
        
                // Appliquer les filtres
                if ((typeFilter === "" || type === typeFilter) &&
                    (rankFilter === "" || rank === rankFilter) &&
                    (rarityFilter === "" || rarity === rarityFilter)) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
        

    </script>
</body>
</html>
