<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Charms - Monster Hunter World</title>
  
</head>
<body>
    <div class = "mhwimg" style="text-align: center;">
        <a href="/index.html">
            <img src="static/mhwlogo.png" alt="logo M">
        </a>
    </div>
<form action ="/charms" method="GET">
    <input type="text" name="q" placeholder="Rechercher une arme..." value="{{.Query}}">
    <button type="submit">OK</button>
</form>
    
    <table class = "category" border="1" id="charmsTable">
        <tr>
            <th>Name</th>
            <th>Ranks</th>
            <th>Skills</th>
        </tr>
        {{range .Charms}}
        <tr>
            <td><a href="/charm-details?id={{.ID}}">{{.Name}}</a></td>
            <td>
                {{range $index, $element := .Rang}}
                    {{if $index}}{{end}}Level : {{$element.Niveau}}<br>Rarity : {{$element.Rarete}}<br><br>
                {{end}}
            </td>
            <td>
                {{range $index, $element := .Rang}}
                    {{range $index, $skill := $element.Skills}}
                        {{if $index}}, {{end}}{{.Name}}<br>Level : {{$skill.Niveau}}<br>{{$skill.Description}}<br><br>
                    {{end}}
                {{end}}
            </td>
            <td> <form action="/add-favorite" method="get">
                <input type="hidden" name="category" value="charms">
                <input type="hidden" name="id" value="{{ .ID }}">
                <input type="hidden" name="name" value="{{ .Name }}">

             

                <button type="submit">Add to Favorites</button>
            </form></td>
        </tr>
        {{end}}
    </table>
    {{if .HasPreviousPage}}
    <a href="/charms?page={{.PreviousPage}}&q={{.Query}}">Page précédente</a>
    {{end}}
    
    {{if .HasNextPage}}
    <a href="/charms?page={{.NextPage}}&q={{.Query}}">Page suivante</a>
    {{end}}
  
</body>
</html>
