<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Decoration Details - Monster Hunter World</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/index.html">
                <img src="static/mhwlogo.png" alt="logo M">
            </a>
        </div>
    </div>
    <h1>{{.Name}} Details</h1>
    <div class="container">
        <h2>{{.Name}}</h2>
        <h3>Rarity: {{.Rarity}}</h3>
        <h3>Skills</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Description</th>
            </tr>
            {{range .Skills}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Niveau}}</td>
                <td>{{.Description}}</td>
            </tr>
            {{end}}
        </table>
    </div>
</body>
</html>
