<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/tableau.css">
    <title>Decorations - Monster Hunter World</title>
  
</head>
<body>
    <div class = "header">
    <div class = "logo">
        <a href="/index.html">
        <img src="static/mhwlogo.png" alt="logo M">
    </a>
    </div>
</div>
    <div class="filter-section">
<form action ="/décorations" method="GET">
    <label for="rarityFilter">Filtrer par rareté:</label>
        <select name="rarityFilter" >
            <option value="">Toutes les raretés</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select><br/><br/>
    <input type="text" name="q" placeholder="Rechercher une décoration..." value="{{.Query}}">
    <button class = "search-btn" type="submit">Recherchere</button>
</form>
    <div>

    <table class = "weapon-table" border="1"  id="decoTable">
        <tr>
            <th>Name</th>
            <th>Rarity</th>
            <th>Skills</th>
            <th>Favoris</th>
        </tr>
        {{range .Decorations}}
        <tr>
            <td><a class = "link" href="/deco-details?id={{.ID}}">{{.Name}}</a></td>
         
            <td>{{.Rarete}}</td>
            <td>
                {{range $index, $element := .Skills}}
                    {{if $index}}{{end}}{{$element.Name}}<br>Level : {{$element.Niveau}}<br>{{$element.Description}}<br><br>
                {{end}}
            </td>
            <td> <form action="/add-favorite" method="get">
                <input type="hidden" name="category" value="deco">
                <input type="hidden" name="id" value="{{ .ID }}">
                <input type="hidden" name="name" value="{{ .Name }}">
                <input type="hidden" name="rarete" value="{{ .Rarete }}">
             

                <button class = "fav" type="submit">&#x2661;</button>
            </form></td>
        </tr>
        {{end}}
    </table>
    <div class = "pagination">
    {{if .HasPreviousPage}}
    <a href="/décorations?page={{.PreviousPage}}&rarityFilter={{.RarityFilter}}&q={{.Query}}">Page précédente</a>
    {{end}}
    
    {{if .HasNextPage}}
    <a href="/décorations?page={{.NextPage}}&rarityFilter={{.RarityFilter}}&q={{.Query}}">Page suivante</a>
    {{end}}
    </div>
   </body>
</html>
