<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Event Details - Monster Hunter World</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/index.html">
                <img src="static/mhwlogo.png" alt="logo M">
            </a>
        </div>
    </div>
    <h1>{{.Name}} Details</h1>
    <div class="container">
        <h2>{{.Name}}</h2>
        <table>
            <tr>
                <th>Type</th>
                <td>{{.Type}}</td>
            </tr>
            <tr>
                <th>Rang</th>
                <td>{{.Rang}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{.Description}}</td>
            </tr>
            <tr>
                <th>Requirements</th>
                <td>
                    {{if not .Exigences}}
                        None
                    {{else}}
                        {{.Exigences}}
                    {{end}}
                </td>
            </tr>
            <tr>
                <th>Success</th>
                <td>{{.Objectif}}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{.Localisation.Name}}</td>
            </tr>
        </table>
    </div>
</body>
</html>
