<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Event Details - Monster Hunter World</title>
</head>
<body>
    <div class="mhwimg" style="text-align: center;">
        <a href="/index.html">
            <img src="static/mhwlogo.png" alt="logo M">
        </a>
    </div>
    <h1>Event Details</h1>
    <div>
        <h2>{{.Name}}</h2>
        <p>Type: {{.Type}}</p>
        <p>Rang: {{.Rang}}</p>
        <p>Description: {{.Description}}</p>
        <p>Requirements: 
            {{if not .Exigences}}
                None
            {{else}}
                {{.Exigences}}
            {{end}}
        </p>
        <p>Success: {{.Objectif}}</p>
        <p>Location: {{.Localisation.Name}}</p>
    </div>
</body>
</html>
