<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Events - Monster Hunter World</title>
   
</head>
<body>
    <div class = "mhwimg" style="text-align: center;">
        <a href="/index.html">
            <img src="static/mhwlogo.png" alt="logo M">
        </a>
    </div>
    <input type="text" id="searchInput" onkeyup="searchEvents()" placeholder="Rechercher par nom d'évenement..." style="margin-bottom: 10px;">
   
    <label for="typeFilter">Filtrer par type d'événement :</label>
    <select id="typeFilter" onchange="filterEvents()">
        <option value="">Tous les types</option>
        <option value="event quest">Event Quest</option>
        <option value="challenge quest">Challenge Quest</option>
        <option value="kulve taroth siege">Kulve Taroth siege</option>
        <!-- Ajoutez d'autres options selon vos besoins -->
    </select>
    
    <label for="rankFilter">Filtrer par rang :</label>
    <select id="rankFilter" onchange="filterEvents()">
        <option value="">Tous les rangs</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <!-- Ajoutez d'autres options selon vos besoins -->
    </select>
    
 
    

    <table class = "category" id="eventsTable">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Ranks</th>
            <th>Description</th>
            <th>Requirements</th>
            <th>Success</th>
            <th>Locations</th>
        </tr>
        {{range .Events}}
        <tr>
           
            <td><a href="/event-details?id={{.ID}}">{{.Name}}</a></td>
         
            <td>{{.Type}}</td>
            <td>{{.Rang}}</td>
            <td>{{.Description}}</td>
            <td>
                {{if not .Exigences}}
                None
                {{else}}
                {{.Exigences}}</td>
                {{end}}
            <td>{{.Objectif}}</td>
            <td>{{.Localisation.Name}}</td>
        </tr>
        {{end}}
    </table>
    {{if .HasPreviousPage}}
    <a href="/events?page={{.PreviousPage}}">Page précédente</a>
{{end}}

{{if .HasNextPage}}
    <a href="/events?page={{.NextPage}}">Page suivante</a>
{{end}}
    <script>
        function searchEvents() {
            // Récupérer la valeur saisie dans le champ de recherche
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("eventsTable");
            tr = table.getElementsByTagName("tr");

            // Parcourir toutes les lignes du tableau et les cacher si elles ne correspondent pas à la recherche
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // Recherche dans la première colonne (Nom)
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function filterEvents() {
            var typeFilter = document.getElementById("typeFilter").value;
            var rankFilter = document.getElementById("rankFilter").value;
            
            var table = document.getElementById("eventsTable");
            var rows = table.getElementsByTagName("tr");
        
            for (var i = 1; i < rows.length; i++) { // Commence à l'index 1 pour éviter l'en-tête
                var type = rows[i].getElementsByTagName("td")[1].textContent;
                var rank = rows[i].getElementsByTagName("td")[2].textContent;
                
                // Appliquer les filtres
                if ((typeFilter === "" || type === typeFilter) &&
                    (rankFilter === "" || rank === rankFilter)) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }

    </script>
</body>
</html>
