<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/tableau.css">
    <title>Events - Monster Hunter World</title>
   
</head>
<body>
    <div class="header">
        <div class="logo">  
             <a href="/index.html">
            <img src="static/mhwlogo.png" alt="logo M">
        </a>
    </div>
</div>
    <div class="filter-section">
    <form action ="/events" method="GET">
    <label for="typeFilter">Filtrer par type d'événement :</label>
    <select name="typeFilter" >
        <option value="">Tous les types</option>
        <option value="event quest">Event Quest</option>
        <option value="challenge quest">Challenge Quest</option>
        <option value="kulve taroth siege">Kulve Taroth siege</option>
        <!-- Ajoutez d'autres options selon vos besoins -->
    </select>
    
    <label for="rankFilter">Filtrer par rang :</label>
    <select name="rankFilter" >
        <option value="">Tous les rangs</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <!-- Ajoutez d'autres options selon vos besoins -->
    </select>
    <input type="text" name="q" placeholder="Rechercher un événement..." value="{{.Query}}">
    <button class = "search-btn" type="submit">Rechercher</button>
    </form>
    <div>

    <table class = "category" id="eventsTable">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Ranks</th>
            <th>Description</th>
            <th>Requirements</th>
            <th>Success</th>
            <th>Locations</th>
            <th>Favoris</th>
        </tr>
        {{range .Events}}
        <tr>
           
            <td><a class = "link" href="/event-details?id={{.ID}}">{{.Name}}</a></td>
         
            <td>{{.Type}}</td>
            <td>{{.Rang}}</td>
            <td>{{.Description}}</td>
            <td>
                {{if not .Exigences}}
                None
                {{else}}
                {{.Exigences}}</td>
                {{end}}
            <td>{{.Objectif}}</td>
            <td>{{.Localisation.Name}}</td>
            <td> <form action="/add-favorite" method="get">
                <input type="hidden" name="category" value="events">
                <input type="hidden" name="id" value="{{ .ID }}">
                <input type="hidden" name="name" value="{{ .Name }}">
                <input type="hidden" name="type" value="{{ .Type }}">
             

                <button class = "fav" type="submit">&#x2661;</button>
            </form></td>
        </tr>
        {{end}}
    </table>
    {{if .HasPreviousPage}}
    <a href="/events?page={{.PreviousPage}}&typeFilter={{.TypeFilter}}&rankFilter={{.RankFilter}}&q={{.Query}}">Page précédente</a>
    {{end}}
    
    {{if .HasNextPage}}
    <a href="/events?page={{.NextPage}}&typeFilter={{.TypeFilter}}&rankFilter={{.RankFilter}}&q={{.Query}}">Page suivante</a>
    {{end}}

   
   
</body>
</html>
