<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
   
    <title>Monster Hunter World - Accueil</title>
</head>
<body class ="homepage">
    <nav class="navbar">
        <ul>
            <li><a href="/index.html">Accueil</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Catégories</a>
                <div class="dropdown-content">
                    <a href="/weapons">Armes</a>
                    <a href="/armors">Armures</a>
                    <a href="/monsters">Monstres</a>
                    <a href="/items">Objets</a>
                    <a href="/skills">Compétences</a>
                    <a href="/charms">Charmes</a>
                    <a href="/décorations">Décorations</a>
                    <a href="/events">Événements</a>
                </div>
            </li>
            <li><a href="/favorites">Voir mes favoris</a></li>
            <li><a href="/search">Recherche</a></li>
        </ul>
    </nav>
    <div class = "mhwimg" style="text-align: center;">
        <a href="/index.html">
            <img src="static/mhwlogo.png" alt="logo M">
        </a>
    </div>
  


    <div class = "infos">
        <div class = "description">
    <h2>Introduction</h2>
    <p>Monster Hunter est une série de jeux vidéo d'action et de rôle développée et publiée par Capcom. Le jeu met les joueurs dans la peau de chasseurs qui traquent et combattent une grande variété de monstres fantastiques dans des environnements riches et diversifiés. Lancée pour la première fois en 2004, la série est devenue l'une des franchises les plus emblématiques de Capcom.<br>Dans l'univers de Monster Hunter, les joueurs incarnent des chasseurs vivant dans des villages situés dans des zones habitées par des créatures colossales. Ces monstres, qui vont des dragons majestueux aux bêtes sauvages et aux prédateurs féroces, constituent à la fois des adversaires redoutables et des sources de ressources vitales pour les communautés humaines.</p><br>
    <br><h2>Environnements</h2>
    <p>Les environnements du jeu peuvent être utilisés pour chasser un monstre (comme l'inverse): il est ainsi possible par exemple de créer un éboulement pouvant gravement blesser le monstre ciblé. Ils peuvent aussi être utilisés comme moyen de déplacement.<br>De nombreux raccourcis existent, permettant au chasseur d'anticiper la réaction d'un monstre et de lui barrer la route, voire de préparer des pièges en attendant le monstre.<br>Les nouveaux terrains de chasse sont jusqu'à 2 fois plus grands que dans les jeux précédents, tout en ayant une meilleur dimension verticale ; il est ainsi très facile de se perdre dans ces environnements denses si on ne connaît pas assez les lieux.</p><br>
    <h2>Déplacement</h2>
<p>Pour pallier à la grande taille des cartes et aux chemins tortueux, il est désormais possible d'utiliser des "Navicioles" pour pouvoir traquer plus facilement les monstres.<br>Ces Navicioles ne rendent pas le jeu aussi facile qu'il pourrait le paraître: il est nécessaire de ramasser des "indices" de monstre (comme des empreintes de pas ou des traces) pour pouvoir guider les Navicioles. Ramasser ces marques remplira une jauge divisée en 3 sections: chacune d'elle augmentera l'efficacité et l'endurance des Navicioles.</p>
<p>Il est possible de s'agripper aux lianes pour se mouvoir plus rapidement, tout comme on peut se servir d'elles pour sauter sur le monstre</p>
<p>La nage, quoique limitée, est disponible. Seulement, les combats n'y sont pas possibles: la nage ne sert qu'à se déplacer d'un endroit à un autre.</p>
<p>Il est aussi possible de s'agripper à des Mernos, ce qui s'apparentera à des voyages aériens même si le "véhicule" n'est pas vraiment enclin à transporter le chasseur.
    De la même façon, d'autres sortes de wyvernes volantes peuvent nous transporter à différents camps de base de la carte.</p><br>
<h2>La Chasse</h2>
        <p>Le cœur du gameplay de Monster Hunter repose sur la chasse et la capture de ces monstres. Les joueurs doivent utiliser une combinaison de compétences de combat, de tactiques et de stratégie pour traquer et affronter ces créatures. Chaque monstre a ses propres schémas de comportement, points faibles et habitudes de vie, ce qui nécessite une approche unique pour chaque confrontation.</p><br>
        <h2>La Préparation et l'Équipement</h2>
<p>La préparation est essentielle dans Monster Hunter. Avant de partir en chasse, les joueurs doivent rassembler des fournitures, fabriquer des armes et armures adaptées, et planifier leur stratégie en fonction des spécificités du monstre ciblé. Le jeu propose une grande variété d'armes, allant des épées et des arcs aux marteaux et aux armes à feu, chacune offrant un style de jeu unique.</p><br>
 <h2>Multijoueur et Collaboration</h2>
  <p>Monster Hunter propose une expérience multijoueur robuste, permettant aux joueurs de former des équipes pour chasser des monstres ensemble. La collaboration est souvent nécessaire pour vaincre les créatures les plus puissantes et les plus redoutables. Travailler en équipe pour coordonner les attaques, les pièges et les compétences spéciales est souvent la clé du succès.</p><br>
       <h2>Évolution de la Série</h2>
      <p>Au fil des ans, la série Monster Hunter a continué à évoluer et à s'étendre, ajoutant de nouveaux monstres, environnements, armes, armures et mécanismes de jeu. Elle est devenue célèbre pour son gameplay exigeant mais gratifiant, sa profondeur stratégique et son monde riche en détails.</p><br>
      <p>En résumé, Monster Hunter offre aux joueurs une aventure palpitante dans un monde fantastique, où la chasse aux monstres est à la fois un défi passionnant et une source de récompenses épiques.</p>
      <h2>Catégories</h2>
    <table class = "no-border" align="center" style="text-align: center;">
        <tbody>
            <tr>
                <td>
                    <div class="hover_button">
                        <a href="/weapons">
                            <img alt = "Bouton des armes" src ="/static/BoutonArmes.jpg">
                        </a>
                    </div>
                    <div class="hover_button">
                        <a href="/armors"> 
                            <img alt = "Bouton des armures" src ="/static/BoutonArmures.jpg">
                        </a>
                    </div>
                    <div class="hover_button">
                        <a href="/monsters">
                            <img alt = "Bouton des monstres" src ="/static/BoutonMonstres.jpg">
                        </a>
                    </div>
                    <div class="hover_button">
                        <a href="/items">
                            <img alt = "Bouton des objets" src ="/static/BoutonObjets.jpg">
                        </a>
                    </div>
                </td>
                <td>
                    <div class="hover_button">
                        <a href="/skills">
                            <img alt = "Bouton des compétences" src ="/static/BoutonCompetences.jpg">
                        </a>
                    </div>
                    <div class="hover_button">
                        <a href="/charms">
                            <img alt = "Bouton des charmes" src ="/static/BoutonCharmes.jpg">
                        </a>
                    </div>
                    <div class="hover_button">
                        <a href="/décorations">
                            <img alt = "Bouton des décorations" src ="/static/BoutonDeco.jpg">
                        </a>
                    </div>
                    <div class="hover_button">
                        <a href="/events">
                            <img alt = "Bouton des événements" src ="/static/BoutonEvent.jpg">
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<table class = "tableau">
    <th class="title"> MONSTER HUNTER WORLD </th>
    <th class ="img"> 
        <img class="imgtab" src="static/mhwpictab.png">
    </th>
    <th class="title"> Création </th>
    <td>
        <h5> Développeur </h5>
        <p> Capcom </p>
    </td>
    <td>
        <h5> Publication </h5>
        <p> Capcom </p>
    </td>
    <td>
        <h5> Réalisateurs</h5>
        <p> Yuya Tokuda<br>
            Kaname Fujioka </p>
    </td>
    <td>
        <h5>Compositeurs</h5>
        <p> 	
            Akihiko Narita<br>
            Zhenlan Kang </p>
    </td>
    <td>
        <h5>Producteurs</h5>
        <p> 		
            Hironobu Takeshita<br>
            Kazunori Inoue<br>
            Shingo Izumi 
        </p>
    </td>
    <th class="title"> Informations </th>
    <td>
         <h5><br>Date de Sortie </h5>
        <p> Consoles :<br> 26 janvier 2018
            <br><br>
            PC :<br> 9 août 2018
        </p>
    </td>
    <td>
        <h5> Genre </h5>
        <p> Action-RPG </p>
    </td>
    <td>
        <h5> Mode de jeu </h5>
        <p>Solo/Multijoueur</p>
    </td>
    <td>
        <h5> Plate-forme </h5>
        <p> PC/Consoles </p>
    </td>
    <td>
        <h5>Prix </h5>
        <p> 59.99</p>
    </td>
    <td>
        <h5>Génération </h5>
        <p> 5 ème </p>
    </td>
    
    <th class="title"> Exigences minimales </th>
    <td>
        <p>Nécessite un processeur et un système d'exploitation 64 bits</p>
    </td>
    <td>
        <h5>OS: </h5>
        <p> WINDOWS® 10 (64 bits requis)
        </p>
    </td>
    <td>
        <h5>Processeur: </h5>
        <p>  Intel® Core™ i5 4460 <br>ou Core™ i3 9100F <br>ou AMD FX™-6300 <br>ou Ryzen™ 3 3200G
        </p>
    </td>
    <td>
        <h5>Mémoire: </h5>
        <p>  8 GB RAM </p>
    </td>
    <td>
        <h5>Carte graphique: </h5>
        <p>NVIDIA®GeForce®GTX 760 <br>ou GTX1050 <br>ou AMD Radeon™ R7 260x <br>ou RX 560 </p>
    </td>
    <td>
        <h5>DirectX: </h5>
        <p>Version 11 </p>
    </td>
    <td>
        <h5>Stockage: </h5>
        <p>52 Go d'espace disponible </p>
    </td>
    <td>
        <h5>Carte son: </h5>
        <p>DirectSound <br>(DirectX® 9.0c ou version ultérieure) </p>
        </td>
       
</table>    


</div>
</div>
</body>
</html>
