<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Items - Monster Hunter World</title>
  
</head>
<body>
    <div class = "mhwimg" style="text-align: center;">
        <a href="/index.html">
            <img src="static/mhwlogo.png" alt="logo M">
        </a>
    </div>
    <form action="/items" method="GET">
        
    <label for="rarityFilter">Filtrer par rareté:</label>
<select name="rarityFilter" >
    <option value="">Toutes les raretés</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
   
    <!-- Ajoutez d'autres options selon vos besoins -->
</select>
<input type="text" name="q" placeholder="Rechercher une arme..." value="{{.Query}}">
<button type="submit">OK</button>
</form>
    <table class = "category" id="itemsTable">
        <tr>
            <th>Name</th>
            <th>Rarity</th>
            <th>Description</th>
            <th>favoris</th>
        </tr>
        {{range .Items}}
        <tr>
            <td><a href="/item-details?id={{.ID}}">{{.Name}}</a></td>
          
            
            <td>{{.Rarete}}</td>
            <td>{{.Description}}</td>
            <td> <form action="/add-favorite" method="get">
                <input type="hidden" name="category" value="items">
                <input type="hidden" name="id" value="{{ .ID }}">
                <input type="hidden" name="name" value="{{ .Name }}">
                <input type="hidden" name="rarity" value="{{ .Rarete }}">
                <button type="submit">Add to Favorites</button>
            </form></td>
        </tr>
        {{end}}
    </table>
    {{if .HasPreviousPage}}
    <a href="/items?page={{.PreviousPage}}&rarityFilter={{.RarityFilter}}&q={{.Query}}">Page précédente</a>
    {{end}}
    
    {{if .HasNextPage}}
    <a href="/items?page={{.NextPage}}&rarityFilter={{.RarityFilter}}&q={{.Query}}">Page suivante</a>
    {{end}}

   
</body>
</html>
