<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}} - Détails du Monstre</title>
    <link rel="stylesheet" type="text/css" href="static/detail.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/index.html">
                <img src="static/mhwlogo.png" alt="logo M">
            </a>
        </div>
    </div>
    <h2>{{.Name}} Details</h2>
    <div class="container">
        <h1>{{.Name}}</h1>
        <table>
            <tr>
                <th>Espèce</th>
                <td>{{.Species}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{.Type}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{.Description}}</td>
            </tr>
        </table>
        
        <h3>Points faibles:</h3>
        <table>
            <tr>
                <th>Élément</th>
                <th>Étoiles</th>
            </tr>
            {{range .Weaknesses}}
            <tr>
                <td>{{.Element}}</td>
                <td>{{.Stars}}</td>
            </tr>
            {{end}}
        </table>

        <h3>Résistances:</h3>
        <ul>
            {{if not .Resistances}}
                <li>Aucune</li>
            {{else}}
                {{range .Resistances}}
                    <li>{{.Element}}</li>
                {{end}}
            {{end}}
        </ul>

        <h3>Maladies:</h3>
        <ul>
            {{if not .Ailments}}
                <li>Aucune</li>
            {{else}}
                {{range .Ailments}}
                    <li>{{.Name}}: {{.Description}}</li>
                {{end}}
            {{end}}
        </ul>

        <h3>Récompenses:</h3>
        <ul>
            {{if not .Recompense}}
                <li>Aucune récompense</li>
            {{else}}
                {{range .Recompense}}
                    <li>{{.Item.Name}}</li>
                {{end}}
            {{end}}
        </ul>
    </div>
</body>
</html>
