<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/detail.css">
    <title>Skill Details - Monster Hunter World</title>
</head>
<body>
    
    <h1>Skill Details</h1>
    <div class="container">
        <h2>{{.Name}}</h2>
        
        <p>Description: {{.Description}}</p><br>
        <h3>Ranks</h3>
        <ul>
            {{range .Rang}}
            <li>Niveau {{.Niveau}} : {{.Description}}</li>
            {{end}}
        </ul>
    </div>
</body>
</html>
