<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Skills - Monster Hunter World</title>
   
</head>
<body>
    <div class = "mhwimg" style="text-align: center;">
        <a href="/index.html">
            <img src="static/mhwlogo.png" alt="logo M">
        </a>
    </div>
    <input type="text" id="searchInput" onkeyup="searchSkills()" placeholder="Rechercher par nom de compétence..." style="margin-bottom: 10px;">
   
    <table class = "category"  id="skillsTable">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Ranks</th>
        </tr>
        {{range .Skills}}
        <tr>
            <td><a class = "link"  href="/skill-details?id={{.ID}}">{{.Name}}</a></td>
           
            <td>{{.Description}}</td>
            <td>
                <ul>
                    {{range .Rang}}
                    <li>
                        Niveau {{.Niveau}} : {{.Description}}
                    </li>
                    {{end}}
                </ul>
            </td>
        </tr>
        {{end}}
    </table>
    {{if .HasPreviousPage}}
    <a href="/skills?page={{.PreviousPage}}">Page précédente</a>
{{end}}

{{if .HasNextPage}}
    <a href="/skills?page={{.NextPage}}">Page suivante</a>
{{end}}
    <script>
        function searchSkills() {
            // Récupérer la valeur saisie dans le champ de recherche
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("skillsTable");
            tr = table.getElementsByTagName("tr");

            // Parcourir toutes les lignes du tableau et les cacher si elles ne correspondent pas à la recherche
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // Recherche dans la première colonne (Nom)
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>
