<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/tableau.css">
    <title>Skills - Monster Hunter World</title>
   
</head>
<body>
    <div class="header">
        <div class="logo">
       <a href="/index.html">
            <img src="static/mhwlogo.png" alt="logo M">
        </a>
    </div>
</div>
   
<div class="filter-section">
    <form action ="/skills" method="GET">
        <input type="text" name="q" placeholder="Rechercher une compétence..." value="{{.Query}}">
        <button type="submit">OK</button>
    </form>
</div>
    <table class = "weapons-table"  id="skillsTable">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Ranks</th>
            <th>Favoris</th>
        </tr>
        {{range .Skills}}
        <tr>
            <td><a class = "link"  href="/skill-details?id={{.ID}}">{{.Name}}</a></td>
           
            <td>{{.Description}}</td>
            <td>
                <ul>
                    {{range .Rank}}
                    <li>
                        Niveau {{.Niveau}} : {{.Description}}
                    </li>
                    {{end}}
                </ul>
            </td>
            <td> <form action="/add-favorite" method="get">
                <input type="hidden" name="category" value="skills">
                <input type="hidden" name="id" value="{{ .ID }}">
                <input type="hidden" name="name" value="{{ .Name }}">


                <button class="fav" type="submit">&#x2661;</button>
            </form></td>
        </tr>
        {{end}}
    </table>
    <div class =  "pagination">
    {{if .HasPreviousPage}}
    <a href="/skills?page={{.PreviousPage}}&q={{.Query}}">Page précédente</a>
    {{end}}
    
    {{if .HasNextPage}}
    <a href="/skills?page={{.NextPage}}&q={{.Query}}">Page suivante</a>
    {{end}}
    </div>
  
</body>
</html>
