<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Skill Details - Monster Hunter World</title>
</head>
<body>
    <div class="mhwimg" style="text-align: center;">
        <a href="/index.html">
            <img src="static/mhwlogo.png" alt="logo M">
        </a>
    </div>
    <h1>Skill Details</h1>
    <div>
        <h2>{{.Name}}</h2>
        <p>Description: {{.Description}}</p>
        <h3>Ranks</h3>
        <ul>
            {{range .Rang}}
            <li>Niveau {{.Niveau}} : {{.Description}}</li>
            {{end}}
        </ul>
    </div>
</body>
</html>
