<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}} Details - Monster Hunter World</title>
</head>
<body>
    <h1>{{.Name}} Details</h1>
    <ul>
        <li>Rarity: {{.Rarity}}</li>
        <li>Attack (Display): {{.Attack.Display}}</li>
        <li>Attack (Raw): {{.Attack.Raw}}</li>
        <li>Elements:</li>
        <ul>
            {{range .Element}}
                <li>{{.Type}} - Damage: {{.Damage}}</li>
            {{end}}
        </ul>
        <li>Damage Type: {{.TypeDegats}}</li>
        <li>Image: <img src="{{.Assets.Image}}" alt="Weapon Image"></li>
    </ul>
</body>
</html>
