<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/detail.css">
    <title>{{.Name}} Details - Monster Hunter World</title>
   
</head>
<body>
    <div class = "header">
        <div class = "logo">
             <a href="/index.html">
                 <img src="static/mhwlogo.png" alt="logo M">
             </a>
         </div>
     </div>
    <div class="container">
        <h1>{{.Name}} Details</h1>
        <table>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Rarity</td>
                <td>{{.Rarity}}</td>
            </tr>
            <tr>
                <td>Attack (Display)</td>
                <td>{{.Attack.Display}}</td>
            </tr>
            <tr>
                <td>Attack (Raw)</td>
                <td>{{.Attack.Raw}}</td>
            </tr>
            <tr>
                <td>Elements</td>
                <td>
                    <ul>
                        {{range .Element}}
                            <li>{{.Type}} - Damage: {{.Damage}}</li>
                        {{end}}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Damage Type</td>
                <td>{{.TypeDegats}}</td>
            </tr>
            <tr>
                <td>Image</td>
                <td><img class ="elmt" src="{{.Assets.Image}}" alt="Weapon Image"></td>
            </tr>
        </table>
    </div>
</body>
</html>
